@page "/fetchdata"
@namespace Blazr.Clean.UI

<PageTitle>Weather forecasts</PageTitle>

@inject IViewService<WeatherForecast> ViewService

<h1>Weather forecasts</h1>

<p>This component demonstrates fetching data from a service.</p>

<div class="p-2 text-end">
    <button class="btn btn-primary" @onclick=this.AddRecord>Add Record</button>
</div>

<WeatherList />

@code {

    // Demo code to add a test record
    private async Task AddRecord()
    {
        // Emulate editing the a new record in a UI Edit form
        var rec = WeatherForecastData.GetForecast();
        this.ViewService.Record.Date = rec.Date;
        this.ViewService.Record.Id = rec.Id;
        this.ViewService.Record.TemperatureC = rec.TemperatureC;
        this.ViewService.Record.Summary = rec.Summary;

        await this.ViewService.AddRecordAsync();
    }
}
